[Desktop Entry]
Type=Application
Name=mdwriter
GenericName=Markdown Editor
Comment=Distraction-free Markdown editor (ghostwriter fork)
Comment[en_GB]=Distraction-free Markdown editor (ghostwriter fork)
Icon=mdwriter
TryExec=mdwriter
Exec=mdwriter %f
Terminal=false
StartupNotify=true
MimeType=text/plain;text/markdown;text/x-markdown;
Categories=Qt;Office;WordProcessor;
Keywords=Markdown;editor;document;fullscreen;distraction;concentration;focused;writing;
